@using Ictshop.Models;
    @model Ictshop.Models.GioHang

@{ ViewBag.Title = "GioHang";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<h2 class=""> GIỎ HÀNG <i class="fa fa-shopping-cart"></i></h2>
<br />
<table class="table-hover table-bordered divGioHang">
    <tr style="">
        <th> Mã SP</th>

        <th> Tên SP</th>

        <th> Ảnh bìa</th>

        <th> Đơn giá</th>

        <th> Số lượng</th>

        <th> Thành tiền</th>
    </tr>



    @foreach (var item in Model.Items)
    {
        decimal total = Convert.ToDecimal(item._spProduct.Giatien * item._spQuantity);
<tr class="font-italic">
    <td> @item._spProduct.Masp</td>

    <td> @item._spProduct.Tensp</td>

    <td> <img src="@Url.Content("~" +item._spProduct.Anhbia)" width="50" height="50" /></td>

    <td>  @String.Format("{0:0,0}", item._spProduct.Giatien) VNĐ</td>

    <td> @item._spQuantity</td>

    <td>   @String.Format("{0:0,0}", total) VNĐ</td>


</tr>}



    <tr>
        <td colspan="6" style="text-align:right">

            @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang")
        </td>
        <td colspan="6" style="text-align:right;color:blue">
            @using (Html.BeginForm("ThanhToanDonHang", "GioHang", new { @class = "" }))
            {
<input type="submit" value="Đặt hàng" class="btn-danger" />}
        </td>
        <td style="border-top:none"><a href="/giohang/PaymentWithPayPal" class="btn btn-success">Thanh toán PayPal</a></td>
    </tr>
</table>

@*Css giỏ hàng*@
<style type="text/css">
    .divGioHang {
        border: 2px solid #EEEEEE;
        margin-left: 10%;
        font-size: large
    }

        .divGioHang td {
            padding: 10px;
            border: 2px solid #EEEEEE;
            text-align: center
        }

        .divGioHang th {
            text-align: center
        }
</style>